*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.body {
    background-color: rgb(255, 199, 208); 
    overflow-x: hidden; 
}

.background-image {
    width: 100%;
    position: absolute;
}

.background-image .background-child{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.background-child img{
    width: 100%;
    overflow-x: hidden;
}

.judul{
    position: absolute;
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.judul img{
    height: 100%;
    margin-top: 180px;
}

/* Header styles */
.navbar{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s linear;
}

.navbar .nav-icon{
    height: 80%;
    margin-left: 50px;
    margin-top: 0.5%;
}

.navbar .nav-link{
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: end;
}

.nav-link .nav-link-a{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration-line: none;
}

.nav-link .nav-link-a img{
    height: 50px;
    width: auto;
    aspect-ratio: 1/1;
} 

.nav-dropdown{
    display: none;
}

.dropdown-menu{
    display: none;
    width: 100%;
    position: fixed;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-menu .nav-link-a{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    color: white;
}

.dropdown-menu .nav-link-a img{
    height: 50px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

.footer {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 50px;
    padding-top: 20px;
    padding-bottom: 0;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    z-index: 10; /* Set z-index to be in front of waves */
}

.footer .title{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}

.footer .title img{
    height: 100%;
    width: auto;
}

.footer .copyrights{
    height: 50px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 15px;
}

.footer .copyrights p span{
    font-weight: bold;
    color: white;
}

.footer .copyrights p span a{
    color: white;
}

.footer .social{
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: end;
}

.footer .social .social-icon{
    height: 80%;
    margin-left: 15px;
}

.footer .social .social-icon img{
    height: 100%;
}

.wave {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 120px;
    background: url("../aset/Screenshot_2024-03-22_101608-removebg-preview.png");
    background-size: 1000px 100px;
    animation: animateWaves 4s linear infinite;
    transform-origin: bottom;
    z-index: -99; /* Set z-index to be behind footer */
    opacity: .2;
}

@keyframes animateWaves {
    0% {
        background-position-x: 0;
        z-index: -99;
    }
    100% {
        background-position-x: 1000px;
        z-index: -99;
    }
}

.container{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
}

.container .content{
    width: 100%;
    background-image: url("../aset/backgroundclass.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.content .char-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30vh;
    margin-bottom: 100px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-container .char-option{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.char-option .char{
    width: 30%;
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.char-option .char .preview{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.char .preview img{
    height: 400px;
    object-fit: scale-down;
}

.char-option .char a{
    margin-top: 10px;
    width: 80%;
    height: 40px;
    background: orange;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

.char-option .char a:hover{
    transform: scale(1.1);
}

.back-button{
    position: absolute;
    top: 300px;
    left: 20px;
    width: 10%;
}

.back-button img{
    width: 100%;
}

.content .class-detail{
    width: 75%;
    margin: 0 auto;
    margin-top: 150px;
    background: rgba(255, 255, 255, 0.683);
    padding: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content .class-detail .image{
    display: flex;
    width: 30%;
    justify-content: center;
}

.class-detail .image img{
    width: 60%;
}

.content .class-detail .desc{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content .class-detail .desc img{
    justify-content: center;
    display:flex;
    width: 30%;
}

.content .class-detail .desc .line{
    width: 60%;
}

.content .class-detail .desc .line img{
    width: 100%;
}

.content .actor{
    width: 100%;
}

.content .actor {
    width: 75%;
    margin: 0 auto;
    margin-top: 400px;
    background: rgba(255, 255, 255, 0.683);
    border: 5px solid rgb(141, 141, 141);
    padding: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15%;

}

.content .actor .desc p{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px;
    padding-bottom: 20px;
}

.content .actor .desc .name{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.content .actor .desc .name img{
    width: 60%;
}

.content .actor .image{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 9%;
    bottom: 10%;
    height: 15%;
}

@media only screen and (max-width: 820px){
    /* Navbar styles */

    .navbar .nav-link{
        display: none;
    }

    .nav-dropdown{
        display: block;
        position: absolute;
        right: 50px;
    }

    .dropdown-menu{
        display: none;
    }

    /* End Navbar */

    /* Footer styles */

    .footer{
        display: block;
        /* margin-bottom: -10px; */
    }

    .footer .title{
        width: 100%;
        justify-content: center;
    }

    .footer .copyrights{
        width: 100%;
        text-align: center;
    }

    .footer .social{
        width: 100%;
        justify-content: center;
        margin-left: -3%;
    }

    /* End footer */

    .content .char-container{
        display: block;
    }

    .char-container .char-option{
        width: 100%;
    }

    .content .class-detail .desc{
        font-size: 10px;
    }

    .content .actor .desc .name{
        padding: 20px;
    }

    .content .actor .image{
        right: 7%;
        bottom: 7%;
        height: 13%;
    }

    .content .actor .desc .name img{
        width: 50%;
    }

    .content .actor .desc p{
        font-size: 20px;
    }

    .content .actor{
        margin-top: 500px;
    }

    .back-button{
        position: absolute;
        top: 18%;
        left: 10px;
        width: 10%;
    }
    
    .back-button img{
        width: 100%;
    }
}

@media only screen and (max-width: 420px){
    .char .preview img{
        height: 200px;
    }

    .content .char-container{
        margin-top: 40vw;
    }

    .content .class-detail .desc{
        font-size: 6px;
    }

    .back-button{
        position: absolute;
        top: 17%;
        left: 10px;
        width: 10%;
    }
    
    .back-button img{
        width: 100%;
    }

    .content .actor .image{
        right: 7%;
        bottom: 4%;
        height: 10%;
    }

    .content .actor .desc .name img{
        width: 40%;
    }

    .content .actor .desc p{
        font-size: 15px;
    }

    .content .actor{
        margin-top: 600px;
    }
}